<template id="sql1" class="sqlTemplate" title="Whitelist an IP">
	INSERT INTO B2B_CLIENT_IP_ADDRESS(
		B2B_CLIENT_ID, 
		IP_ADDRESS, 
		NO_OF_OCTETS_TO_VALIDATE) VALUES (
			{{client_id}},
			{{ip_address}},
			{{no_of_octets_to_validate}}
		)
</template>
<template id="sql2" class="sqlTemplate" title="Give access to API's by IP">
	INSERT INTO B2B_CLIENT_TRANSACTIONS(
		B2B_CLIENT_ID,
		B2B_TRANSACTION_ID,
		BB_TRANSACTION_SPEC_ID
	) VALUES(
		{{client_id}},
		{{transaction_id}},
		{{transaction_spec_id}}
	)
</template>